@{
    var customers = ViewBag.ListadoClientes as IEnumerable<CustomerCountryViewModel>;
}
<table id="tbListadoCliente" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in customers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Country</td>
                <td>
                    <button class="btn btn-warning btnEditarCliente" data-id="@item.Id">Editar</button>
                    <button class="btn btn-danger btnEliminarCliente" data-id="@item.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    loadDataTable();
    function loadDataTable(){
        let table = $("#tbListadoCliente").DataTable({
            lengthChange:false,
            buttons: ['copy','excel','pdf','colvis','print']
        });

        table.buttons().container()
            .insertBefore("#tbListadoCliente_filter")
    }


</script>